pipeline/adf_restapi_pp_param.json
{
	"name": "adf_restapi_pp_param",
	"properties": {
		"activities": [
			{
				"name": "pp_set_variable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pp_currency_list",
					"value": {
						"value": "@pipeline().parameters.pp_currency_list_param",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "pp_set_variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.pp_currency_list_param",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('https://v6.exchangerate-api.com/v6/d7ebc614c77c087330302ffd/latest/',item())",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"additionalColumns": [
										{
											"name": "currency",
											"value": {
												"value": "@string(item())",
												"type": "Expression"
											}
										},
										{
											"name": "webjsonout",
											"value": {
												"value": "@string(activity('Web1').output)",
												"type": "Expression"
											}
										}
									],
									"query": "select 1 as dummy"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "MySqlTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "adls_writejson",
									"type": "DatasetReference",
									"parameters": {
										"filename": "Currency_apioutput"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Call_nb_databricks",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/celinb4u@gmail.com/dbspark_handson_repo_celin/ADF_usecases/nb_usecase_8_API_CALL_fromADF",
					"baseParameters": {
						"filename": {
							"value": "@pipeline().parameters.filename",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"pp_currency_list_param": {
				"type": "array",
				"defaultValue": [
					"SBD",
					"RUB"
				]
			},
			"filename": {
				"type": "string",
				"defaultValue": "Currency_apiout"
			}
		},
		"variables": {
			"pp_currency_list": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-05-13T14:04:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}